*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
libs/
.idea/caches/gradle_models.ser
.idea/compiler.xml
.idea/jarRepositories.xml
app/libs/
